<div style="height: 5vh">
  <h1>Lieu de tournage à Paris</h1>
  <input
    id="searchText"
    type="text"
    placeholder="Rechercher un titre"
    [(ngModel)]="searchText"
    name="searchText"
  />
  <button (click)="filterDisplayedLocations()">Rechercher</button>
</div>
<div class="grid-container" style="height: 95vh">
  <app-film-location-list
    [filmLocations]="locationsDisplayed"
    style="overflow-y: auto; max-height: 95vh; height: inherit"
  ></app-film-location-list>
  <app-map style="height: inherit"></app-map>
</div>
