<li>
  <p>
    {{ filmLocation.fields.nom_tournage }}
  </p>
  <p>
    {{ filmLocation.fields.date_debut }}
  </p>
  <p>
    {{ filmLocation.fields.nom_realisateur }}
  </p>
  <p>
    {{ filmLocation.fields.adresse_lieu }}
  </p>
</li>
