<div
  *ngIf="this.filmLocations !== undefined; else locationsDisplayedUndefined"
></div>
<ng-template #locationsDisplayedUndefined>
  Récupération des lieux de tournage...
</ng-template>
<ul>
  <app-film-location-item
    *ngFor="let location of filmLocations"
    [filmLocation]="location"
  >
  </app-film-location-item>
</ul>
